* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cambria";
    font-weight: 500;
}

body {
    background: linear-gradient(90deg, #1885c9 0%, #7bed87 100%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: grid;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.188);
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
}

.calc button {
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.05rem;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
}

.calc button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    padding: 0.5rem;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2rem;
}

.current-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 2.2rem;
}

.calc button:nth-of-type(1) {
    grid-column: span 2;
}

.calc button:nth-last-of-type(1) {
    grid-column: span 2;
}
